*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* classi utilty */

.bg_blue{
  background-color: #0c325a;
}

.bg_green{
  background-color: #7cbb02;
}

.bg_grey{
  background-color: #d3d3d3;
}

.float_left{
  float: left;
}
.float_right{
  float: right;
}

.clear_fix{
  clear: both;
  content: "";
  display: table;
}

/* chiusura classi UTILITY */

.container{
  width: 80%;
  margin: auto;
}

header{
  width: 100%;
  height: 550px;
}

/* NAV BAR */

nav{
  height: 15%;
  width: 100%;
  line-height: 80px;
  font-size: 11.2px;
}

.menu_left, .navbar_logo{
  height: 80px;
}

.navbar_logo img{
  margin-top: 15px;
  margin-right: 60px;
}

.menu_left ul li, .menu_right ul li {
  display: inline-block;
}

.menu_left a, .menu_right a{
  text-decoration: none;
  color: white;
  padding: 0 10px;
}

#login{
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 8px;
}

#plan_bar{
  background-color: #7cbb02;
  border-radius: 5px;
  padding: 10px 15px;
}

.menu_left a:hover{
  color: orange;
}

/* BANNER CENTRALE */

.hero_banner{
  height: 85%;
  position: relative;
  background-image: url("../img/banner_header.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 150% 300%;
}

.banner_logo{
  width: 565px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.hero_banner > .container{
  width: 80%;
  height: 100%;
  margin: auto;
}

.banner_logo h1{
  font-size: 45px;
  margin-bottom: 40px;
}

.banner_logo a{
  background-color: #7cbb02;
  font-size: 14px;
  padding: 25px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

/* main */

main{
  width: 100%;
  text-align: CENTER;
}

/* FIRST_ROW */

.FIRST_ROW{
  width: 100%;
  padding: 40PX 0;
}

.FIRST_ROW H2{
  padding: 0 0 10PX;
}

.FIRST_ROW p{
  color: grey;
  font-weight: bolder;
}

/* SECOND_ROW */

.SECOND_ROW{
  margin: 40px 0;
}

.col_3{
  width: calc(100% / 3);
}

.col_3 img{
  height: 150px;
  margin-bottom: 20px;
}

.col_3 h3{
  font-size: 25px;
  color: #7cbb02;
}

.col_3 hr{
  width: 60px;
  color: grey;
  margin: 20px auto;
}

.col_3 p{
  color: grey;
  font-size: 18px;
  padding: 0 20px;
}
